name: Update Channels
on:
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - run: pip install requests
      - run: python fetch_links.py
      - name: Save
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "Action"
          git add channels.json
          git commit -m "Update" || exit 0
          git push
